body {
  font-family: 'Average', serif;
  font-size: 17px;
}

.page-header {
  margin-top: 80px;
  padding-left: 20px;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}

.error-message {
  color: red;
}
