body {
  font-family: 'Average', serif;
  font-size: 17px;
}

.page-header {
  top: 0;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  opacity: 0.8;
  background-color: #90b1a6;
  border: none;
}
 body { margin-top: 200px;}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}

.error-message {
  color: red;
}

.navbar-default .btn-default-post:hover {
  border-color: lightseagreen;
}