body {
  font-family: 'Poiret One', cursive;
}

h1 {
  color: darkcyan;
  margin-left: 30px;

}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-header .navbar-brand{
  color: white;
}

.navbar-default {
  background-color: darkcyan;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #00cccc;
}

.container--header {
  width:100%;
  height:200px;
  background-image: url("../images/header.jpeg");
  background-size:cover;
  background-attachment: fixed;
  background-position: calc(100%) calc(100% - 80px);
  overflow: hidden;
  margin-bottom: 40px;
}

.jumbotron {
  background-color: #00bebe;

}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}

