<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
    <h1>Create A new recipe</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">

            <form action="#" class="form-horizonal" th:action="@{/create-recipe}" th:object="${recipe}" method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" th:feild="*{name}" placeholder="Enter desired recipe name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Instruction:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="instruction" rows="8" th:feild="*{instruction}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Incidents:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ingredients" placeholder="Enter ingredients"/>
                    </div>
                </div>
                <div th:if="${ingredients != null}">
                    <ul>
                        <li th:each="item : ${ingredients}" th:text="${item.getName()}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Submit" />
                        <input type="reset" class="btn btn-default" value="Reset" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>