<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <link th:href="@{/css/createrecipe.css}"/>
</head>

<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
    <h1>Create a new ingredient</h1>
</div>


<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron" style="background-color: white; border: 1px solid #c5b9a0;  padding: 60px;">

            <form action="#"  th:action="@{/create-ingredient}"   method="post" enctype="multipart/form-data">
                <div class="form-group" style="padding-bottom: 15px">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="The name of the ingredient" required="required"/>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Description</label> <span style="font-size: 14px">(200 words maximum)</span>
                    <textarea class="form-control" id="description" name="description" placeholder="Give the ingredient a short description" maxlength="200" style="resize: vertical; max-height: 100px;" required="required"/>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Upload an image</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                                    <span class="btn btn-default">
                                        Browse
                                    <input type="file" name="file" th:feild="*{file}" style="display: none;" accept="image/*" required="required"/>
                                         </span>
                        </label>
                        <input type="text" class="form-control" id="file-output" style="color: black" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="form-group" style="padding-top: 10px">
                        <div class="input-group">
                            <input type="submit" class="btn btn-default" value="Submit" />
                            <input type="reset" class="btn btn-default" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>