<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <link th:href="@{/css/createrecipe.css}"/>
</head>

<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
    <h1>Create a new recipe</h1>
</div>


<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron" style="background-color: white; border: 1px solid #c5b9a0;  padding: 60px;">
            <form action="#" th:action="@{/create-recipe}"  method="post" enctype="multipart/form-data">
                <div class="form-group" style="padding-bottom: 15px">
                    <label>Title</label>
                    <input type="text" class="form-control" name="name" placeholder="The name of your recipe" required="required"/>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Author</label>
                    <input type="text" th:value="${user.name}" class="form-control" readonly="readonly" style="background-color: #90b1a6"/>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Description</label> <span style="font-size: 14px">(200 words maximum)</span>
                    <textarea class="form-control" id="description" name="description" placeholder="Give your recipe an interesting description" maxlength="200" style="resize: vertical; max-height: 100px;" required="required"/>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Ingredients</label>
                    <div class="input-group control-group after-add-more-ingredient" id="thing" style="width: 100%">
                        <select class="select-ingredient form-control" name="ingredient[]" required="required" style="width: 100% !important">
                           <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}" th:text="${ingredient.name}"></option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-default add-more-ingredient" type="button"><i class="glyphicon glyphicon-plus"/></button>
                        </div>
                    </div>



<!--
                    <div class="btn btn-default">
                        <a th:href="@{/create-ingredient}"> Create another Ingredient</a>
                    </div> -->
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Instructions</label>
                    <div class="input-group control-group after-add-more-instruction" style="width: 100%">
                        <textarea class="form-control" name="instruction[]" placeholder="Enter an instruction" maxlength="200" style="resize: vertical; max-height: 100px;" required="required"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default add-more-instruction" type="button"><i class="glyphicon glyphicon-plus"/></button>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="border-top: 1px solid #c5b9a0; padding-top: 20px; padding-bottom: 15px">
                    <label>Upload an image</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-default">
                                Browse
                                <input type="file" name="file" th:feild="*{file}" style="display: none;" accept="image/*" required="required"/>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="file-output" style="color: black" readonly="readonly"/>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="form-group" style="padding-top: 10px">
                        <div class="input-group">
                            <input type="submit" class="btn btn-default" value="Submit" />
                            <input type="reset" class="btn btn-default" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
     </div>
</div>

<!-- Dynamic field template -->

<div class="copy-instruction hide">
    <div class="control-group input-group" style="margin-top:10px">
        <input type="text" name="instruction[]" class="form-control" placeholder="Enter instruction" required="required"/>
        <div class="input-group-btn">
            <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-minus"/></button>
        </div>
    </div>
</div>

<div class="copy-ingredient hide">
    <div class="control-group input-group" style="margin-top:10px">
        <select class="select-ingredient form-control" data-live-search="true" name="ingredient[]" required="required" style="width: 100% !important">
         <option th:each="ingredient : ${ingredients}" th:value="${ingredient.name}" th:text="${ingredient.name}"></option> -->


        </select>
        <div class="input-group-btn">
            <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-minus"/></button>
        </div>
    </div>
</div>

<style>
    .form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
         width: 100%;
     }
</style>

<div th:replace="layout :: scripts"></div>
<script th:src="@{/scripts/dynamic-fields.js}"></script>
</body>
</html>