<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<body>
    <div class ="navbar">
    <a th:href="@{/}" class="menu-item">Home Page</a>
    <a th:if="${loggedIn}" th:href="@{/}" class="user" th:text="'User: ' + ${user.username}">LOGGED IN</a>
    <a th:if="${loggedIn}" th:href="@{/signout}">Sign out</a>
    <a th:unless="${loggedIn}" th:href="@{/login}"> Log in</a>
    <a th:unless="${loggedIn}" th:href="@{/register}">Register</a>
    </div>

    <h1>Kitchen Assistant </h1>
    <h2>What do you want to cook?</h2>
    <form method="post" th:action="@{/search}">
        <input type="text" name="search" size="50" placeholder="Hummus, Indian, gluten-free..." />
        <input type="submit" value="Search!" />
    </form>

</body>
</html>
