<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>

    <div th:replace="layout :: navigation-top-bar"></div>

    <div class="container--header">
            <h1 class="main-header">Kitchen Assistant </h1>
    </div>


    <div class = "container">
        <div class="jumbotron">
            <h2>Here we can have a bunch of recipes on a side scroller</h2>
        </div>
        <div class="jumbotron">
            <h2>Here we can have a bunch of categories that open up a list of recipes</h2>
        </div>

    </div>



    <div th:replace="layout :: scripts"></div>
</body>
</html>
