<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

<body>
    <nav class = "navbar-default">
    <div class ="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kitchen Assistant</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:if="${loggedIn}" th:href="@{/}" class="user" th:text="'User: ' + ${user.username}">LOGGED IN</a></li>
            <li><a th:if="${loggedIn}" th:href="@{/signout}">Sign out</a></li>
            <li><a th:unless="${loggedIn}" th:href="@{/login}"> Log in</a></li>
            <li> <a th:unless="${loggedIn}" th:href="@{/register}">Register</a></li>

        </ul>
    </div>
    </nav>
    <div class="container">
        <div class="page-header">
        <h1>Kitchen Assistant </h1>
        </div>
<div class="jumbotron">
    <h2>What do you want to cook?</h2>
    <form method="post" th:action="@{/search}">
        <input type="text" name="search" size="50" placeholder="Hummus, Indian, gluten-free..." />
        <input type="submit" value="Search!"/>
    </form>
</div>
    </div>
</body>
</html>
