<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>
<div th:replace="layout :: navigation-top-bar"></div>
<!--/*@thymesVar id="recipe" type="java"*/-->
<!--/*@thymesVar id="user" type="java"*/-->

<!--/*@thymesVar id="sameUser" type="java"*/-->
<div class="page-header" style="top: 0; display: flex;  justify-content: center;">
    <div><a th:href="@{/edit-ingredient}" class="btn btn-default btn-lg recipe-btn">Update Price</a></div>
</div>

<div class="container recipe-container">
    <div class="row">
        <div class="col-lg-12 col-sd-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-sm-ls-7 recipe-image-container">
                    <img th:src="${ingredient.photoURL}" alt="image" class="recipe_image"/>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6 col-sm-ls-5 recipe-header-right">
                    <h1 class="recipe-name" th:text=" ${ingredient.name}"></h1>
                    <p class="recipe-description" th:text="${ingredient.description}"/>
                    <span class="recipe-popularity" th:text="${ingredient.price} + 'isk'"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>