<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <div th:replace="layout :: navigation-top-bar"></div>

    <div class="page-header">
        <h1  th:text=" ${ingredient.name}"></h1>
    </div>
    <div class="container">
        <div class="media">
            <div class="media-left">
                <div class="media-object"/>
            </div>
            <div class="media-body">

                <h4 class="media-heading" th:text=" ${ingredient.name}"></h4>

            </div>
            <div class="profile-buttons">
                <a th:href="@{/edit-ingredient}"> Edit Ingredient</a>
            </div>
        </div>



       <!-- <div class="result-table" th:each="res : ${recipeList}"> -->

    </div>




    <img th:src="@{images/soup.jpg}"/>


</body>
</html>