<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" lang="en">
    <meta charset="UTF-8" />
    <title>Kitchen Assistant</title>
    <link href="https://fonts.googleapis.com/css?family=Average|Montserrat" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/recipe.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/createrecipe.css}"/>



    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</head>
<body>
    <div th:fragment="navigation-top-bar">
        <!--Nav Bar-->
        <nav class = "navbar-default navbar-fixed-top">
            <div class ="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Kitchen Assistant</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}" class="home">Home<span class="sr-only">(current)</span></a></li>
                    </ul>
                    <!--Search-bar-->
                    <form class="navbar-form navbar-left" method="post" th:action="@{/search}">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <select class = "selectpicker"  name= "select-option" data-width="fit">
                                        <option value="recipe">Recipe</option>
                                        <option value="ingredient">Ingredient</option>
                                    </select>
                                </div> <!-- input-group btn -->
                                <input type="text" name="search" class="form-control navbar-searchbox" placeholder="Search for a recipe"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default search-button" type="submit">
                                        <span class="glyphicon glyphicon-search" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <!--/*@thymesVar id="loggedIn" type="java"*/-->
                        <!--/*@thymesVar id="user" type="java"*/-->
                        <!-- User dropdown menu-->
                        <li th:if="${loggedIn}" th:href="@{/user-profile}" class="dropdown">
                            <a href="#" th:href="@{/user-profile}" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"/>
                                <span th:text="' ' + ${user.username}"/> <b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-user">
                                <li><a th:href="@{/create-recipe}">Create Recipe</a></li>
                                <li><a href="#">View your recipes</a></li>
                                <li><a th:href="@{/user-profile}">View Profile</a></li>
                                <li><a href="#">Edit Profile</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/signout}">Sign out</a></li>
                            </ul>
                        </li>

                        <!-- Sign up Dropdown -->
                        <li th:unless="${loggedIn}">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-log-in"></span> Sign up</a>
                            <div class="dropdown-menu dropdown-menu-signup">
                                <div class="alert alert-danger alert-danger-signup" >
                                    <span class="error-message-signup"/>
                                </div>

                                <form  id="registration-form" method="POST" th:action="@{sign-up}">
                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 control-label">Username</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="button" onClick="sendData()" class="btn btn-default btn-default-post btn-lg btn-block signup-btn" id="post" value="Register" />

                                </form>
                            </div>
                        </li>
                        <!-- Login dropdown menu-->
                        <li th:unless="${loggedIn}">
                            <a href="#" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-log-in"></span> Log in</a>
                            <div class="dropdown-menu dropdown-menu-login">
                                <div class="alert alert-danger alert-danger-login" >
                                    <span class="error-message-login"/>
                                </div>
                                <form th:action="@{/login}" id="login-form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user"/>
                                            </span>
                                            <label for="username"></label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="username" autofocus="autofocus" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"/>
                                            </span>
                                            <label for="password"></label>
                                            <input type="password" class="form-control" placeholder="password" id="password" name="password" />
                                        </div>
                                    </div>
                                    <input type="button" onClick="sendLogin()" class="btn btn-default btn-default-post btn-lg btn-block" id="post" value="Log in" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div th:fragment="scripts">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script th:src="@{/scripts/navbar.js}"></script>

    </div>

</body>
</html>