<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

<!--Nav Bar-->
<nav class = "navbar-default">
    <div class ="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Kitchen Assistant</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:if="${loggedIn}" th:href="@{/}" class="user" th:text="'User: ' + ${user.username}">
                <span class="glyphicon glyphicon-user"></span> Logged in</a></li>
            <li><a th:if="${loggedIn}" th:href="@{/signout}">
                <span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            <li> <a th:unless="${loggedIn}" th:href="@{/register}">
                <span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li><a th:unless="${loggedIn}" th:href="@{/login}">
                <span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        </ul>
    </div>
</nav></nav>


<h1><span th:text=" ${recipe.name}"></span> </h1>

<p> <span th:text=" ${recipe.name}"></span></p>
<p> <span th:text=" ${recipe.instruction}"></span></p>



</body>
</html>