<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: navigation-top-bar"></div>

    <div class="page-header">
        <h1>Results</h1>
    </div>

    <div class="container">
        <!--/*@thymesVar id="resultsList" type="java"*/-->
        <!--/*@thymesVar id="isRecipe" type="java"*/-->
        <div class="result-table" th:each="results : ${resultsList}">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="margin-bottom: 30px">
                    <div class="card">
                        <div class="card__image">
                            <img src="images/soup.jpg" alt="" class="card__img"/>
                        </div>
                        <div class="card__content">
                            <!-- For Recipe results -->
                            <div th:if="${isRecipe}">
                                <a th:href="@{/recipe/{id}(id=${results.id})}">
                                    <h3 class="card__heading" th:text="${results.name}"></h3>
                                </a>
                                <p class="card__text" th:text="${results.instruction}"></p>
                            </div>
                            <div th:unless="${isRecipe}" class="row">
                                <!-- For Ingredient results -->
                                <a th:href="@{/ingredient/{id}(id=${results.getID()})}">
                                    <h3 class="card__heading" th:text="${results.name}"></h3>
                                </a>
                                <p class="card__text"> Need something here </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- For Ingredients result -->

        </div>
    </div>



</body>
</html>





