<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
  <h1>Update ingredient price</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="jumbotron" style ="background-color: white; border: 1px solid #c5b9a0;  padding: 60px;">
            <!--INGREDIENT INFO-->
            <div class="ingredient-info" style="padding-bottom: 50px">
                <h1 th:text="${ingredient.name}" style="text-align: center; font-family: Montserrat, Georgia"></h1>
                <div class = "test" style="display:block; margin:0 auto;text-align:center; overflow: hidden; height: 300px; " >
                    <img th:src="${ingredient.photoURL}" alt="image" class="recipe_image" style="max-height: 100%;"/>
                </div>
            </div>



        <form action="#" th:action="@{/edit-ingredient}"  method="post" enctype="multipart/form-data">

            <div class="form-group" style="padding-bottom: 15px">
                <label>Store</label>
                <input type="text" class="form-control" name="store" placeholder="The name of the store where you purchased the ingredient" required="required"/>
            </div>
            <div class="form-group" style="padding-bottom: 15px">
                <label>Location</label>
                <input type="text" class="form-control" name="location" placeholder="The location of the store" required="required"/>
            </div>
            <div class="form-group" style="padding-bottom: 15px">
                <label>Price</label>
                <input type="text" class="form-control" name="price" placeholder="The price of the ingredient" required="required"/>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <div class="form-group" style="padding-top: 10px">
                    <div class="input-group">
                        <input type="submit" class="btn btn-default" value="Submit" />
                        <input type="reset" class="btn btn-default" value="Reset" />
                    </div>
                </div>
            </div>

                </form>
        </div>
    </div>
</div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>