<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
    <h1  th:text="${user.username}"/>
</div>

    <div class="container">
            <form method="post">
                <div class="profile-buttons">
                    <a th:href="@{/create-recipe}"> Create Recipe</a>
                    <a th:href="@{/create-ingredient}"> Create Ingredient</a>
                </div>
            </form>
        <div class="row">
            <h2 style="margin: 30px 0">Your favourites:</h2>
            <a class="col-xs-18 col-sm-6 col-md-3" th:each="recipe: ${user.likedRecipes}" th:href="@{/recipe/{id}(id=${recipe.id})}">
                <div class="thumbnail">
                    <img th:src="${recipe.photoURL}"/>
                    <div class="caption">
                        <h4 th:text="${recipe.name}"></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

<div th:replace="layout :: scripts"></div>
</body>
</html>