<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: navigation-top-bar"></div>

<div class="page-header">
    <h1  th:text="${user.username}"/>
</div>

    <div class="container">
        <div class="profile">
            <img class ="profile-image" th:src="${user.photo}"/>

            <form method="post">
                <div class="profile-buttons">
                    <a th:href="@{/create-recipe}"> Create Recipe</a>
                    <a th:href="@{/create-ingredient}"> Create Ingredient</a>
                </div>
            </form>

        </div>
        <div class="jumbotron"> Thinking about having these as just small boxes with image and link to new page</div>
        <div class="jumbotron"> Thinking about having these as just small boxes with image and link to new page</div>
    </div>
<div th:replace="layout :: scripts"></div>
</body>
</html>